/* Global Rules */

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: "Roboto", serif; font-optical-sizing: auto; font-weight: normal; font-style: normal; font-variation-settings: "wdth" 100;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

.red { color:#a83232; }
.white { color:white; }
.bold { font-weight: bold;}
.link-black { text-decoration: none; color: black;}

/* Header / Navigation Bar */

header { 
    padding: 0px 20px;
    background-image: linear-gradient(90deg, #333 70%, rgb(109, 109, 109) 100%);
    height: 50px;
    display: flex;
    justify-content: space-between;
	box-shadow: 3px 3px 3px #333;
}

header a {
    text-decoration: none;
}

.header-left {
	padding: 5px 0px;
	font-weight: bold;
	font-size: 32px;
	color: white;
	white-space: nowrap;
}

.header-left a {
	text-decoration: none;
}

.header-center {
	flex: 1;
	text-align: center;
  }

.header-center ul { 
    list-style: none;
    margin: 0;
    padding: 15px 0px;
	display: inline-flex;
	white-space: nowrap;

}

.header-center ul li {
	margin: 0 10px;
  }
  
  /* Right Section */
  .header-right {
	/* keep default sizing */
  }
  
  .header-right ul {
	list-style: none;
	margin: 0;
	padding: 15px 0px;
	display: flex;
  }
  
  .header-right ul li {
	margin: 0 5px;
  }
  

header .navbar a {
    padding: 15px 15px;
	color: white;
	font-weight: bold;
}

header .navbar.active {
    background-color: #a83232;
    border-radius: 25px;
}

header .navbar a:hover:not(.active) {
    background-color: #111;
    border-radius: 25px;
	transition: 0.3s;
}


/* Mobile Menu Icon */

#hamburger-icon {
	margin: auto 0;
	display: none;
	cursor: pointer;
  }
  
#hamburger-icon div {
	width: 35px;
	height: 3px;
	background-color: white;
	margin: 6px 0;
	transition: 0.4s;
}
/* 3 Bars for Transforming Hamburger Icon */
  .open .bar1 {
	-webkit-transform: rotate(-45deg) translate(-6px, 6px);
	transform: rotate(-45deg) translate(-6px, 6px);
  }
  .open .bar2 {
	opacity: 0;
  }
  .open .bar3 {
	-webkit-transform: rotate(45deg) translate(-6px, -8px);
	transform: rotate(45deg) translate(-6px, -8px);
  }
  

/* Hamburger Menu */
  .open .mobile-menu {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
  }
  
  .mobile-menu {
	display: none;
	position: absolute;
	top: 50px;
	left: 0;
	height: 305px;
	width: 100%;
	background-color:rgb(180, 180, 180);
	overflow: visible;
	box-shadow: 2px 2px 3px #333;
	z-index: 999;
  }

header .mobile-navbar a {
    padding: 15px 20px;
	font-weight: bold;
	color: black;
}

header .mobile-navbar.active {
    background-color: #a83232;
    border-radius: 25px;
	transform: scale(1.1);
	color: white;
}

header .mobile-navbar a:hover:.active {
    transform: scale(1.1);
}

header .mobile-navbar a:hover:not(.active) {
    background-color: #333;
	color: white;
    border-radius: 25px;
	transition: 0.3s;
}

  .mobile-menu.open {
    display: flex !important;
}

  .mobile-menu li {
	list-style: none;
	margin: 20px;
  }

/* Hide/Unhide Elements for Mobile View */
  @media only screen and (max-width: 1000px) {
	.header-center,
	.header-right {
	  display: none;  /* hide standard nav/external links for mobile viewing */
	}
  
	#hamburger-icon {
	  display: block;
	}
  }


/* Footer */

footer {
	list-style-type: none;
	width: 100%;
	overflow: hidden;
	flex-shrink: 0;
    flex-direction: column;
	background-color: #333;
}

footer ul {
	list-style-type: none;
	padding: 3px;
	margin: 5px;
	display: block;
	color: white;
	text-align: center;
	text-decoration: none;
  	font-weight: bold;
}

/* Body */

h1 {
	padding: 10px;
	padding-left: 20px;
	padding-right: 20px;
}

h1 a {
	text-decoration: none;
}

h2 {
	padding: 10px;
	padding-left: 20px;
	padding-right: 20px;
}

h2 a {
	text-decoration: none;
}

p {
	padding: 10px;
	padding-left: 25px;
	padding-right: 25px;
}





/* Content Containers */

/* Fills extra space if not enough content */
.fill-container {
	flex: 1;
}

/* Page Intro Container // Stacks Vertically */
.page-intro-container {
	margin: 20px;
	margin-left: 50px;
	margin-right: 50px;
	display: flex;
	height: 75px;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.page-intro-container > div {
	width: 100%;
	text-align: center;
  }



/* Content Body Container // Stacks Horizontally */
.page-body-container {
	margin: 20px;
	margin-left: 50px;
	margin-right: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;
}
/* Content Body Div Containers */
.page-body-container > div {

  }

  /* No Background Containers */
  .page-body-container > div.white-tile {
	width: 350px;
	height: 350px;
	margin: 20px;
	text-align: left;
  }

  .page-body-container > div.white-tile-large {
	width: 500px;
	height: 350px;
	margin: 20px;
	text-align: left;
  }

  /* Content Tile Containers w/ Background and Animation */
  .page-body-container > div.tile {
	background-color:rgb(180, 180, 180);
	box-shadow: 2px 2px 3px #333;
	width: 350px;
	height: 350px;
	margin: 20px;
	text-align: center;
	cursor: pointer;
  }

  .page-body-container > div.tile:hover {
	transform: scale(1.01);
	transition: .05s;
  }
  
  .page-body-container > div.tile-small {
	background-color:rgb(180, 180, 180);
	box-shadow: 2px 2px 3px #333;
	width: 350px;
	height: 150px;
	margin: 20px;
	text-align: center;
	cursor: pointer;
  }

  .page-body-container > div.tile-small:hover {
	transform: scale(1.01);
	transition: .05s;
  }

/* Embed Containers for mini/smaller Content Tiles that stack  */

   /* This is the container for the smaller tiles */
  .page-body-container > div.imbed {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 350px;
	margin: 20px;
  }

  /* Embeded tiles that stack */
  .page-body-container > div > div.imbed-tile {
	background-color:rgb(180, 180, 180);
	box-shadow: 2px 2px 3px #333;
	width: 350px;
	height: 160px;
	text-align: center;
	cursor: pointer;
  }

  .page-body-container > div > div.imbed-tile:hover {
	transform: scale(1.01);
	transition: .05s;
  }

  .page-body-container > div > div.imbed-tile-mini {
	background-color:rgb(180, 180, 180);
	box-shadow: 2px 2px 3px #333;
	width: 350px;
	height: 100px;
	text-align: center;
	cursor: pointer;
  }

  .page-body-container > div > div.imbed-tile-mini:hover {
	transform: scale(1.01);
	transition: .05s;
  }

  

/* { <--- Debug --->
	border: 1px solid red;
  }
*/
