/* Global Rules */

html,
body {
    margin:0;
    padding:0;
    height:100%;
}

/* Fonts */

.roboto-main {
  font-family: "Roboto", serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* Navigation Bar */

nav ul { 
	list-style-type: none;
	top: 0;
	width: 100%;
	margin: 0;
	padding: 0;
	z-index: 1;
	overflow: hidden;
	background-image: linear-gradient(90deg, #333 70%, rgb(109, 109, 109) 100%);
	position: fixed;
		font-family: "Roboto", serif;
  		font-optical-sizing: auto;
  		font-weight: bold;
  		font-style: normal;
  		font-variation-settings:
    			"wdth" 100;
}

nav .navbar {
	float: left;
	padding-left: 0;
}

nav .navbar a {
	display: block;
	color: white;
	text-align: center;
	padding: 17px 28px;
	text-decoration: none;
}

nav .navbar a:hover:not(.active) {
	background-color: #111;
	border-radius: 25px;
}

nav .navbar-right:hover:not(.active) {
	background-color: #303030;
	border-radius: 50px;
}

nav .navbar.active {
	background-color: #a83232;
	border-radius: 25px;
}

nav .navbar-center {
	align-items: center;
	display: inline-block
}

nav .navbar-right {
	float: right;
	padding: 9px 14px;
}


/* Border /* This is to add a border around the buttons, commented to disable *
nav .navbar {
	border-right: .75px solid #bbb;
}
nav .navbar:first-child {
	border-right: .75px solid #bbb;
}
nav .navbar:nth-child(4) {
	border-right: none;
}
*/

/* Footer */

footer {
	list-style-type: none;
	bottom: 0;
	margin: 0;
	padding: 0;
	width: 100%;
	overflow: hidden;
	position: fixed; bottom:0;
	background-image: linear-gradient(90deg, #333 70%, rgb(109, 109, 109) 100%);
}

footer ul {
	list-style-type: none;
	padding: 5px;
	margin: 5px;
	display: block;
	color: white;
	text-align: center;
	text-decoration: none;
	font-family: "Roboto", serif;
  		font-optical-sizing: auto;
  		font-weight: bold;
  		font-style: normal;
  		font-variation-settings:
    			"wdth" 100;
}

/* Body */

h1 {
	padding: 5px;
	padding-left: 10px;
}

h2 {
	padding: 5px;
	padding-left: 10px;
}

p {
	padding: 5px;
	padding-left: 10px;
}

.content-one {
	margin: 20px;
	margin-top: 75px;
	position: relative;
	border-radius: 5px;
	text-align: center;
	font-family: "Roboto", serif;
  		font-optical-sizing: auto;
  		font-weight: bold;
  		font-style: normal;
  		font-variation-settings:
    			"wdth" 100;
	
}

.content-two {
	background-color:rgb(180, 180, 180);
	box-shadow: 2px 2px 3px #333;
	margin: 20px;
	position: relative;
	border-radius: 5px;
	font-family: "Roboto", serif;
  		font-optical-sizing: auto;
  		font-weight: normal;
  		font-style: normal;
  		font-variation-settings:
    			"wdth" 100;
}

/* { <--- Debug --->
	border: 1px solid red;
  }
*/
